:root {
  --blue: #707df5;
  --red: #f5707d;
  --small-text: 16px;
  --large-text: 20px;
  --light-grey: #93949f;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: var(--blue) solid 2px;
  outline-offset: 2px;
}

.button:focus-visible {
  outline: #fff dashed 2px;
  outline-offset: -4px;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: var(--small-text);
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
}

.library-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.library-app__header-banner {
  background-color: var(--blue);
  color: #fff;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}

.header-banner__bookmark-icon {
  margin: 0 40px;
}

.header-banner__title {
  color: #fff;
  margin: 0;
}

.library-app__sidebar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 30px rgba(162, 149, 149, 0.25);
  width: 25%;
  height: 100vh;
}

.sidebar__title {
}

.sidebar__book-form {
  width: 80%;
}

span {
  display: block;
}

.book-form__input-field {
  width: 100%;
  border: 1px solid var(--light-grey);
  height: 25px;
  border-radius: 3px;
  margin: 3px 0;
}

/* input:invalid {
  outline: 1px solid var(--red);
} */
.error-message {
  color: var(--red);
}

.book-form__number-field {
  width: 40% !important;
}

label {
  font-size: 12px;
}

.book-form__submit {
  color: #fff;
  top: 50px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  background-color: var(--blue);
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-size: var(--large-text);
}

.library-app__book-table {
  background-color: #fff;
  margin-left: 20px;
  width: 70%;
}

.book-table__title {
  color: #707df5;
  margin-bottom: 10px;
}

.book-table__tally {
  color: #93949f;
}

.book-table__table {
  width: 100%;
  margin-top: 20px;
}

.table__header {
  font-weight: 600;
}

td {
  width: 20%;
}

.read {
  cursor: pointer;
}

.delete {
  font-size: 14px;
  color: #93949f;
  cursor: pointer;
}

.book-table__remove-all {
  text-align: center;
  margin: 100px auto;
  color: #f5707d;
  border: 1px solid #f5707d;
  max-width: 292px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
}

.book-table__remove-all:focus,
.book-table__remove-all:hover {
  border: none;
  background-color: var(--red);
  color: #fff;
}
